$primary: #262160;
$primary-light:#c3ceddbb;
$black: black;
$dark-gray: #444444;
$light-gray: #b1b1b1;
$warn: #959595;
$disabled-text: #c4c4c4;
$white: #fafafa;
$transparent: transparent;
$error: #d57575;
$success: #53917e;
$light-green: #8dc3b7;
$link: #6ca5d0;
$green:#1ca63e;